
  <ul ng-repeat = "job in jobs" style="list-style-type:none" >
     <li ng-if="currentUser.role != 'Admin' "
     ng-show="job.active"><a href="" ng-click='jobDetail(job.id)'>{{job.jobTitle}}</a></li>
     <li ng-if="currentUser.role == 'Admin'" ><a href="" ng-click='jobDetail(job.id)'>{{job.jobTitle}}</a></li>
      
     <div class="list" ng-show="showJobDetails" ng-if = 'job.id == currentId'>
          <b>Description</b> : {{job.jobDescription}}<br/>
          <b>Location</b> : {{job.location}}<br>
          <b>Years of Experience</b> : {{job.yrsOfExp}}<br>
		  <b>company</b> : {{job.company}}<br>
		  <b>Posted On</b>: {{job.postedon | date:'yyyy/MM/dd'}}<br>
		  <b>Skills Required</b> : {{job.skillsRequired}}<br>
		  <b ng-show="currentUser.role == 'Admin' ">Active:<b ng-if ='job.active'>Yes</b>
		  <b ng-if ='!job.active'>No</b> </b>
		  
     </div>
        
  </ul>

  
  
