main.ng-enter {
  transition:0.4s linear all;
  opacity:0;
}

main.ng-enter.ng-enter-active {
  opacity:1;
}

.list.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
.list.ng-enter.ng-enter-active {
  opacity:1;
}

#img-circle{
	border-radius:50%;
}

.navbar.navbar-default{
	padding: 1% 0 0 0 !important;
}

li{
	cursor:pointer !important;
}
a{
	text-decoration: none !important;
}
.active,.text,.sm{
	font-weight:bold !important;
}
.active{
	padding : 10px !important;
	color: #DF4C53 !important;
	font-size:18px;
}
.text{
	text-tranform:uppercase !important;
	color:white;
	background-color:black;
	padding:10px 10px 10px 15px;
	border-radius:5%;
	opacity:0.8;
}
.glyphicon{
	color:	#F08080 !important;
	padding-right : 3px;
	font-size:20px;
}